.mat-column-colaboratorId {
     flex: 0 0 2%;
  white-space: normal !important;
  word-break: break-word !important;
}

.mat-column-companies {
  flex: 0 0 5%;
  white-space: normal !important;
  word-break: break-word !important;
}

.mat-column-fullname {
  flex: 0 0 10%;
  white-space: normal !important;
  word-break: break-word !important;
}

.mat-column-age {
  flex: 0 0 10%;
  white-space: normal !important;
  word-break: break-word !important;
}

.mat-column-phoneNumber {
  flex: 0 0 10%;
  white-space: normal !important;
  word-break: break-word !important;
}

.mat-column-email {
  flex: 0 0 10%;
  white-space: normal !important;
  word-break: break-word !important;
}