.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
  /* Centra horizontalmente */
}

.align-items-center {
  align-items: center;
  /* Centra verticalmente */
}

.custom-logo {
  height: 500px;
  /* Ajusta según tus necesidades */
  width: auto;
  /* Mantiene la proporción de la imagen */
}